<div class="page-header">
    <h1><%= @user.full_name %></h1>
    <%= link_to "Create friendship!", new_user_friendship_path(friend_id: @user) %>
</div>

<% if @statuses %>
 <% @statuses.each do |status| %>
<div class="status well">
 <p><%= status.content %></p>
 <em><%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago</em>
</div>
 <% end %>
<% end %>